*{
	margin: 0;
	padding: 0;
}

/* style  the header*/
#header
{
	background-color: #f4511e;
	height: 80px;
	width: 100%;
	position: relative;
}

#header ul
{
	padding: 20px 8px;
	margin: 0px 80px;
	padding-right:80px;
	padding-top: 20px;
	width: 80%;
	height: 50%;

}

#header ul li
{
	list-style-type: none;
	display: inline-block;
	margin:0 6%;
}

#header ul li a
{
	
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 15px;
	transition: 0.3s;
}

#header img
{
	position: absolute;
	left: 0;
	top:0;
	width:10%;
	height:100%;
	padding-top: 1px;
	padding-right: 3px;
}

#header ul li a:hover
{
	 color:black;
	 font-size:18px;
}

/*style search section */

#search
{
	width: 100%;
	height:45px;
	background-color: black;
	text-align: center;
	padding-top: 10px;
}

input[type=search]
{
	width:30%;
	padding-bottom: 3px;
	background-image: url(images/searchicone.svg);
	background-position:right;
	background-repeat: no-repeat;
	
}

#search img
{
	background-color: white;
	width: 30px;
	height: 20px;
	float: right;
	margin-left: 10px;
	margin-right: 10px;
}
#search span{
	color: white;
	float: right;
	font-weight: bold;
	font-size: 15px;
	font-style: italic;
}

/*style section products*/
.articles
{
	clear: both;
	width: 100%;
	margin-top: 5px;
	height: 400px;
	
}
.fich-produit img
{
	height: auto;
	width:150px;
	padding-right:30px;
	margin-bottom: 20px;

}	
.fich-produit
{
	display:inline-block;
	border:2px solid transparent;
	border-radius: 3px;

	margin:0 auto;
	width: 30%;
	height: 300px;
	margin-top: 20px;
	margin-left:150px;

}
.fich-produit p
{
	font-size: 12px;
}
.ajout
{
	float:right;
	background-color: black;
	color: #f4511e;
	padding:3px 3px;
	font-style: italic;
	font-size: 15px;
}
.titre
{
	font-style: italic;
	font-weight: bold;
	font-size: 15px;
	text-align: left;
	text-decoration: underline;

}
.fich-produit a
{
	text-decoration: none;
	color: #ffa400;
	font-weight: bold;
	font-size: 13px;
}

